.root{
    display: flex;
    justify-content: center;
}
.container {
    li {
      display: inline-block;
  
      a {
        text-align: center;
        width: 45px;
        line-height: 42px;
        height: 45px;
        border: 1px solid #56B1C4;
        border-radius: 30px;
        margin-right: 10px;
        cursor: pointer;
        display: inline-block;
        color: #56B1C4;
  
        &:hover {
          background-color: #56B1C4;
          color: #fff;
        }
      }
    }
  
    :global {
      .selected {
        a {
          background-color: #56B1C4;
          color: #fff;
        }
      }
    }
  }