.root {
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
}
 img {
    max-width: 236px;
    max-height: 273px;
    margin: 25px;
 }
.description {
    font-size: 26px;
    
  }