@import '../variables';

.dolls-block {
  width: 280px;
  max-height: 500px;
  text-align: center;
  margin-bottom: 65px;

  &-wrapper {
    display:flex;
    justify-content: center;
  }

  &__image {
    max-width: 210px;
    height: 280px;
  }
  &__title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
    margin: 0 6px;
  }

  &__options {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;
    height: 95px;

    p {
      padding: 8px;
      flex: 2;
      font-weight: 600;
      font-size: 16px;
    }
    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 2;
        font-weight: 600;
        font-size: 14px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
.dolls-block-wrapper {
  display: flex;
  justify-content: center;
}
