@import '../variables';

.dolls-block {
  width: 280px;
  max-height: 565px;
  text-align: center;
  margin-bottom: 10px;
  padding: 15px;
  
   

  &-wrapper {
    display:flex;
    justify-content: center;
   
  } 

  &__image {
    max-width: 210px;
    height: 280px;
  }
  &__title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
    margin: 6px;
    color: $gold;
  }

  &__options {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    height: 95px;
    margin: 0 10px;

    p {
      padding: 8px;
      flex: 2;
      font-weight: 600;
      font-size: 16px;
    }
    ul {
      display: flex;
      flex: 1;
      justify-content: space-between;
      padding: 0;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        flex: 2;
        font-weight: 600;
        font-size: 14px;
        color: $teal;
      }
    }

    
  }
  &:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    transition: all 0.1s ease-in-out;
    border-radius: 30px;
    transform: translateY(10px);
   }
  

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 15px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
    color: black;
  }
}
.dolls-block-wrapper {
  display: flex;
  justify-content: center;
}
