@import '../variables.scss';
.doll-page {
    display: flex;
    flex-direction: column;
    height: 70vh;

    &_header {
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid $gray-line;
      &_title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 300px;
        
        h2 {
            margin: 0.5em auto;
            font-size: 1.5em;
            text-transform: uppercase;
            
          }
      }
    }
    &_body {
        
        &_content{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex: 1;

            &_image-container {
                width: 300px;
                img {
                    display: block;
                    margin: 1em auto;
                    max-width: 250px;
                    max-height: 566px;
                }
            }

            &_text-container {
                width: 50%;
            }

        }


    }


}